@media screen and (max-width: 1485px){
    .offers {
        width: 65%;
    }
}

@media screen and (max-width: 1373px){
    .offers {
        width: 72%;
    }
}

@media screen and (max-width: 1250px){
    header {
        width: 90%;
    }
    .offers {
        width: 82%;
    }
    .destination {
        width: 55%;
    }
}

@media screen and (max-width: 1100px){
    header {
        width: 95%;
    }
    header .trip_bx .search_bx {
        width: 70%;
    }
    header .trip_bx .travel_bx .cards .card {
        min-width: 220px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .offers {
        width: 95%;
    }
    .destination {
        width: 60%;
    }
}

@media screen and (max-width: 950px){
    header .trip_bx .search_bx {
        width: 85%;
    }
    header .trip_bx .search_bx .card{
        margin-right: 8px;
    }
    .destination {
        width: 75%;
    }
}

@media screen and (max-width: 714px){
    header .trip_bx .search_bx {
        width: 85%;
    }
    header .trip_bx .search_bx .card{
        margin-right: 8px;
    }
    .destination {
        width: 75%;
    }
}